<!DOCTYPE html>
<html lang="en">
    <head></head>
<body>
    <div class="text-center mt-5">
        <h3 class="font text-info"><b>Change Password</b></h3> <br>
        <form method="post" novalidate>
            {% csrf_token %}
            <span class="font text-danger"><b>{{form.old_password.errors}}</b></span>

            <span class="font"><b>{{form.old_password.label}}</b></span> {{form.old_password}} <br> <br>

            <span class="font text-danger"><b>{{form.new_password1.errors}}</b></span>
        
            <span class="font"><b>{{form.new_password1.label}}</b></span> {{form.new_password1}} <br> <br>

            <span class="font text-danger"><b>{{form.new_password2.errors}}</b></span>

            <span class="font"><b>{{form.new_password2.label}}</b></span> {{form.new_password2}} <br> <br>

            <button type="submit" class="btn btn-info font"><b>Change</b></button>
        </form>
    </div>
</body>
</html>